main {
    height: 100vh;
    width: 100%
}

#header {
    height: 100px;
    width: 100%;
    background-color:rgb(248,249,250);
}

#header .row {
    height: 100px;
}

#searchbar input[type=text] {
    width: 100%;
    border-radius: 8px;
    padding: 6px 0 6px 2rem;
    border-color: transparent;
    background-color: rgb(229,229,229);
    background-repeat: no-repeat;
    background-image: url(../img/magnifying-glass-solid.svg);
    background-position: 7px;
    background-size: 1.2rem;

}

#searchbar input[type=text]:focus {
    border: 2px solid #9aa8b9;
}

#bell {
    width: 50px;
}

#bell a {
    text-decoration: none;
    color: rgb(68, 68, 68);

}

#bell a:not(.text-warning, .dropdown-item)
{
    display: none;
}

#bell .dropdown-toggle::after {
    display:none !important;
}

#logo {
    width: 100px;
}

#sidebar {
    height: calc(100vh - 100px);
    width: 100px;
    background-color: rgb(5,30,52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#sidebar .icon-top-sidebar .text-center:hover{
    background-color: rgba(170, 170, 170, 0.696);

}



#centralpage {
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background-color: rgb(248,249,250);
}


@media screen and (min-width:768px) {
    #logo,
    #bell {
        width: 150px;
    }
    
    #sidebar {
        width: 150px;
    }

    #centralpage {
        width: calc(100% - 150px);
    }

    #bell a:not(.text-warning)
{
    display: block;
}
    
}